<br>

<%= @user.name %> 

<br>
<br>

<%= link_to 'Novo Post', new_post_path %>

<br>

<%= link_to 'Lista de amigos', '/friends' %>

<%= form_with(url: friendships_path, scope: :friendship) do |form| %>
    <%= hidden_field(:friendship,:user_id, :value => current_user.id) %>
    <%= hidden_field(:friendship,:friend_user_id, :value => @user.id) %>
    <div class="actions">
        <%= form.submit %>
    </div>
<%end%>

<% @posts.each do |post| %>
    <h3><%= post.name %></h3>
    <p><%= post.content %></p> 
<%end%>