<p id="notice"><%= notice %></p>

<h3> <%= @post.name %> </h3>

<p> <%= @post.content %> </p>

<p>From: <%= @post.user.name %> </p>



<% if @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %>
<%end%>

<%= link_to 'Back', posts_path %>
<br>
<% @post.comments.each do |comm| %>
    <%= comm.user.name %> comentou: <%= comm.content %>
    <br>
<%end%>
<br>

<% if logged_in? %>
    <%= link_to "Like", like_post_path(@post) , class:"like-btn", method: :put, remote: :true %>
    <span class="likes-count"><%= @post.get_upvotes.size %></span>
    <%= form_with(model: @comment) do |form| %>
        <div class="field">
            <%= form.label :content %>
            <%= form.text_field :content %>
        </div>

        <%= hidden_field(:comment,:user_id, :value => current_user.id) %>

        <%= hidden_field(:comment,:post_id, :value => @post.id) %>

        <div class="actions">
            <%= form.submit %>
        </div>
    <%end%>
<%end%>