<!DOCTYPE html>
<html>
  <head>
    <title>Rede Social</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !logged_in? %>
      <%= link_to 'Pagina Inicial', root_path %>
    <% end %>
    
    <% if logged_in? %>
      <%= link_to 'Pagina do Usuario', current_user %> |
      <%= link_to 'Log-out', logout_path, method: :delete %> |
      <%= link_to 'Lista de usuarios', '/lista-usuarios' %>
    <%end%>

    <%= yield %>
  </body>
</html>
